@import "./src/scss/variables";
@import "./src/scss/mixin";

.carousel {
  padding: 30px 50px;

  .swiper-scrollbar-drag {
    background: white;
  }

  &__header {
    @include flex(center, space-between);
    margin-bottom: 25px;

    button {
      text-transform: none;
      padding: 5px 15px;
      font-size: 1em;
    }
  }
}
