@import "src/scss/variables";

.button {
  position: relative;
  background: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.3s;
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);

    i::before {
      width: 20px;
      left: 20%;
    }

    i::after {
      width: 20px;
      left: 80%;
    }

    span {
      color: var(--clr);
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
  }

  span {
    position: relative;
    z-index: 1;
    transition: 0.5s;
  }

  i {
    position: absolute;
    inset: 0;
    display: block;

    &::before {
      content: '';
      position: absolute;
      top: -3.5px;
      border: 2px solid var(--clr);
      height: 5px;
      width: 10px;
      left: 80%;
      background: #27282c;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -3.5px;
      border: 2px solid var(--clr);
      height: 5px;
      width: 10px;
      left: 20%;
      background: #27282c;
      transform: translateX(-50%);
      transition: 0.5s;
    }
  }
}
