$body-bg: #0f0f0f;
//$main-color: #ff0000;
$main-red: #FF4155;
$txt-color: #fff;

$white: #fff;
$black: #000;
$orange: orange;
$green: greenyellow;
$gray: #353535B2;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 5px;

$logo-letter-spacing: 2px;
