@import "./variables";
@import "./normalize";
@import "./mixin";

html {
  @include scrollbar();
  overflow: overlay;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $txt-color;
  background-color: $body-bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.shrink {
  height: $header-shrink-height;
  background-color: $body-bg;
}

@media (hover: hover) {
  a:hover {
    color: $main-red;
  }
}
